.bg-pink{
    background-color: #fceae8;
    border-radius: 10px;
    margin-top:50px;
    margin-bottom:100px;
}

.carousel-item{
    padding: 20px 60px;
}

.price{
    color: #ff136f;
}

.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}

.cat1{
    background-color: orange;
}

.cat2{
    background-color: orchid;
}

.cat3{
    background-color: blue;
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}

.shoes{
    margin: 100px auto;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}


.card-footer{
    background-color: white;
    border-top: none;
    padding-bottom: 20px;
}

.contact{
    background-color: #fceae8;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact h6{
    color: grey;
}
.contact input{
    margin-bottom: 10px;
}
